        </div>
    </div>
</div>
</div>

<div class="container-fluid px-0 mx-0 quote">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <div class="quote-source">
                    {{ .Get "source" }}
                </div>
                <div class="quote-content">
                    "{{ .Get "content" }}"
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">